* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Rubik', sans-serif;
}

img,
figure {
    max-width: 100%;
}

ul,
ol,
menu {
    list-style-type: none;
}

a {
    color: currentColor;
    text-decoration: none;
}

:root {
    --darkgrey: #282828;
    --darkblue: #080B12;
    --blue: #141922;
    --grey: #A3A3A3;
}

/***********
TITLES & TEXTS
***********/

h1 {
    font-size: 24px;
    color: white;
}

h2 {
    font-size: 16px;
}

h3 {
    font-size: 11px;
}

/***********
UTILITY CLASS
***********/

.flex {
    display: flex;
}

.relative {
    position: relative;
}

/***********
LAYOUT
***********/

body.flex {
    flex-direction: column;
    height: 100vh;
}

.upper-view {
    flex-grow: 1;
}

.player {
    display: block;
    height: 90px;
    background-color: var(--darkgrey);
    flex-shrink: 0;
}

.upper-view>.row {
    height: 100%;
}

.upper-view .sidebar {
    width: 230px;
    height: 100%;
    background-color: black;
    flex-shrink: 0;
}

.upper-view .main-content {
    flex-grow: 1;
    height: 100%;
}

/***********
HEADER1
***********/

.header1 {
    background-color: var(--darkblue);
    height: 90px;
}

/***********
PLAYER
***********/
.player {
    padding: 0 10px;
}

.player>.row {
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

/* PLAYER INFO */

.player-info {
    height: 42px;
    flex-basis: 220px;
}

.player-info>.row {
    height: 100%;
    justify-content: space-between;
}

.info-name img {
    max-height: 100%;
    aspect-ratio: 1;
}

.info-name {
   gap: 12px;
}

.info-name span {
    display: block;
}

.name-text {
    flex-direction: column;
    justify-content: center;
}

.name-text :first-child {
    color: white;
    font-size: 11px;
}

.name-text :last-child {
    font-size: 9px;
    color: var(--grey);
}

.info-like {
    align-items: center;
    flex-wrap: wrap;
    padding-right: 15px;
}

.info-like i {
    flex-basis: 1%;
    color: var(--grey);
}

/* PLAYER MAIN */

.player-main {
    flex-direction: column;
    flex-basis: 35%;
    max-width: 525px;
}

.main-button {
    margin-bottom: 16px;
}

.main-button>ul {
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.main-length_bar {
    align-items: baseline;
    flex-basis: 100%;
    gap: 8px;
}

[class^="length_bar"] {
    display: inline-block;
    height: 4px;
    border-radius: 2px;
}

.length_bar-dark {
    background-color: var(--grey);
    flex-grow: 1;
}

.length_bar-light {
    background-color: white;
    width: 25%;
    position: absolute;
    top: 0;
    left: 0;
}

.main-length_bar span {
    flex-basis: calc(100%/20);
    flex-shrink: 0;
    font-size: 8px;
    color: white;
}

.main-button i {
    color: white;
    font-size: 16px;
}

.main-button .button-play {
    font-size: 32px;
    margin: 0 8px;
}

/* PLAYER SIDE */

.player-side {
    flex-basis: 220px;
    padding: 8px 0 8px 8px;
    color: white;
}

.player-side ul {
    align-items: center;
    gap: 4px;
}

.player-side li.flex {
    align-items: center;
    width: 100%;
}

.player-side .length_bar-dark {
    flex-grow: 1;
}

/***********
SIDEBAR
***********/

.sidebar {
    flex-direction: column;
}

.playlist {
    color: var(--grey);
}

.container {
    width: 180px;
    margin: 0 auto;
}

/* LOGO */

.logo {
    height: 85px;
    align-items: center;
}

.logo .logo-big {
    height: 42px;
}

.logo-small {
    display: none;
    height: 30px;
}

/* NAVIGATION */

.navigation {
    flex-wrap: wrap;
}

.navigation a {
    display: flex;
    align-items: center;
    flex-basis: 100%;
    padding-left: 20px;
    height: 35px;
    gap: 6px;
    color: var(--grey);
}

.navigation img {
    height: 24px;
    color: #a1a1a1;
}

.navigation a:first-child {
    color: white;
}

/* PLAYLIST */

.playlist h3 {
    color: white;
    font-size: 14px;
    padding: 20px 0;
}

.playlist-list i {
    font-size: 38px;
}

.playlist-list .flex {
    align-items: center;
    font-size: 16px;
    gap: 7px;
}

.playlist-list {
    flex-direction: column;
    font-size: 14px;
    gap: 20px;
}

/* DEBUG */

.download,
.profile {
    display: none;
}


/***********
MEDIAUERY
***********/

/* SIDEBAR */

@media only screen and (max-width: 552px) {
    .upper-view .sidebar {
        width: 50px;
    }

    .logo .logo-big {
        display: none;
    }

    .logo .logo-small {
        display: block ;
    }

    .sidebar.flex {
        align-items: flex-start;
    }

    .navigation .navigation-a {
        padding: 0
    }

    .navigation-a :not(img) {
        display: none;
    }

    .playlist {
        display: none;
    }
}


